<ng-container *ngIf="roles != null && roles.length > 0">
    <ul>
        <ng-container *ngFor="let role of roles">
            <li>{{role.name}}</li>
        </ng-container>
    </ul>
    <input type="number" [(ngModel)]="id"/>
    <input type="submit" value="Find Role by Id" class="btn-primary ml-2" (click)="findById()"/>
    <ng-container *ngIf="role != null">
        <div>{{role.name}}</div>
    </ng-container>
</ng-container>
<ng-container *ngIf="roles == null">
    <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</ng-container>
